<div class="text-center container container-fluid">
  <div class="head">

    <h1>Title</h1>
    <form>
      <div class="form-group">
        <label>Artist Name</label>
        <!-- TODO: Hook up this form to our JS for submitting -->
        <input type="text" class="form-control" placeholder="name" ng-model="addArtist.name">
      </div>
      <div class="form-group">
        <label>Gender</label>
        <input type="text" class="form-control" placeholder="gender" ng-model="addArtist.gender">
      </div>
      
      <button class="btn btn-default" ng-click="addNewArtist()">{{btnText}}</button>
    </form>
  </div>
</div>