<div class="container-fluid">
  <h2> Welcome! </h2>
  <div class="row loginScreen">
    <div class="col-sm-offset-1 col-md-offset-2">
       <p> Login or Register Below </p>
      
         <!-- <div class="inputBox">
          <input type="username" name="username" placeholder="username*" class="form-control" ng-model="data.username">
         </div>
         <div class="inputBox">
          <input type="password" name="password" placeholder="Password*" class="form-control" ng-model="data.password">
         </div>
         <div>
           <button class="btn btn-info" ng-click="login()">Login</button>
           <button class="btn btn-info" ng-click="register()">Register</button> -->
        <button ng-click="register()">Register</button>
        <button ng-click="login()">Login</button>

         </div>
     </div>
  </div>
</div>
     
