<div class = 'container-fluid'>
	<div class = 'headhome'>
		<h3>Song List</h3>
</div>
<div class="row">
<article class = 'col-md-4 box' ng-repeat="song in Data" ng-model= "selectedSongs.title">
	<strong><p class='title'>{{song.data.title}}</p></strong>
	<strong><p class='title'>{{data.artist}}</p></strong>
	<strong><p class='title'>{{data.genre}}</p></strong>



</article>
	<!-- <h1>{{title}}</h1>, 
	<div>
  Grouped tasks:
  <select
      ng-model="theSongs"
      ng-options="value.title group by value.artist for value in songs">
  </select>
</div>

		<div>
				<input type="text" ng-model='searchTermData'>
				<div>{{texts}}</div>
		</div>
		<div>
			<ul ng-repeat='song in songs | filter: searchTermData'>
			<li>{{song.title}}<button ng-click='killSong(song)'>Finish</button></li>
			</ul>
		</div>
</div>

	 -->