<h1>Song List</h1>
<div ng-repeat="song in songs">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="col-xs-1"><input type="checkbox" name=""/></div>
      <div class="col-xs-7"><a ng-href="#/songs/{{song.id}}">{{songs.data.album}}</a></div>
      <div class="col-xs-2">{{songs.data.genre}}</div>
      <div class="col-xs-1">{{songs.data.release_date}}</div>
      <div class="col-xs-1">{{songs.data.song_length}}</div>
      <div class="col-xs-1">{{songs.data.title}}</div>

      <button class="btn btn-danger" plasceholder="delete" ng-click="remove(songs.id)">Delete</button></div>
      <button class="btn btn-info"> <a ng-href="#/edit/{{songs.id}}">Edit</a></button>
      <!-- items.id means something in this partial- this particular id -->
    </div>
  </div>
</div>